@import '~font-awesome/css/font-awesome.css';
@import 'styles/vendor/icofont.css';

@import 'styles/base/reset';
@import 'styles/base/utils';
@import 'styles/base/variables';

.app {
    font-family: $font-lato;

    .site-header {
        position: relative;
        width: 100%;
    }

    @import 'styles/components/navigation';
    @import 'styles/components/hero';

    .site-content {
        margin: 0 auto;
        max-width: $content-width;
        width: 100%;
        padding-top: 35px;
    }
}
