.hidden {
    display: none !important;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}


// Grid
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding-left: $gutters;
    padding-right: $gutters;
    width: calc(100% - 40px);
}

.row {
    margin-left: -#{$gutters};
    margin-right: -#{$gutters};
}

.col {
    padding-left: $gutters;
    padding-right: $gutters;
    width: calc(100% - 40px);

    &-1 { padding-left: $gutters; padding-right: $gutters; width: calc(8.33% - 40px); }
    &-2 { padding-left: $gutters; padding-right: $gutters; width: calc(16.66% - 40px); }
    &-3 { padding-left: $gutters; padding-right: $gutters; width: calc(25% - 40px); }
    &-4 { padding-left: $gutters; padding-right: $gutters; width: calc(33.33% - 40px); }
    &-5 { padding-left: $gutters; padding-right: $gutters; width: calc(41.66% - 40px); }
    &-6 { padding-left: $gutters; padding-right: $gutters; width: calc(50% - 40px); }
    &-7 { padding-left: $gutters; padding-right: $gutters; width: calc(58.33% - 40px); }
    &-8 { padding-left: $gutters; padding-right: $gutters; width: calc(66.66% - 40px); }
    &-9 { padding-left: $gutters; padding-right: $gutters; width: calc(75% - 40px); }
    &-10 { padding-left: $gutters; padding-right: $gutters; width: calc(83.33% - 40px); }
    &-11 { padding-left: $gutters; padding-right: $gutters; width: calc(91.66% - 40px); }
    &-12 { padding-left: $gutters; padding-right: $gutters; width: calc(100% - 40px); }
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}
