// Media queries
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

// Page sizes
$content-width: 1024px;
$gutters: 20px;

// Colors
$color-black: rgb(51, 51, 51);
$color-white: rgb(255, 255, 255);
$color-light-grey: rgb(235, 235, 235);
$color-amber: rgb(255, 173, 29);
$color-pine: rgb(28, 187, 180);

// Fonts
$font-lato: 'Lato', sans-serif;

// Font weight
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;