// Media queries
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

// Page sizes
$content-width: 1024px;

// Colors
$color-black: #333;
$color-white: #fff;

// Fonts
$font-lato: 'Lato', sans-serif;